body {
	background-color: Snow;
}

hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
}

caption {
	display: table-caption;
	text-align: center;
}

.navbar {
	position: fixed;
	height: 2em;
	right: 0;
	top: 0;
	left: 0;
	background-color: #e3f2fd;
	z-index: 1;
}

.footer {
	position: fixed;
	height: 1.5em;
	width: 100%;
	bottom: 0;
	background-color: #efefef;
	text-align: center;
	color: black;
	z-index: 1;
}

#login-container, #signup-container {
	position: relative;
}

#login, #signup {
	height: auto;
	width: 40em;
	margin: 0;
	position: absolute;
	top: 35%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -35%)
}

.form-signin {
	margin: auto;
	max-width: 380px;
	padding: 15px 35px;
	background-color: white;
	border: 1px solid lightgray;
}

.form-signin input {
	height: auto;
	padding: 10px;
	margin: 0 0 15px;
}

.admin-check-box {
	display: block;
	position: relative;
	margin-bottom: 15px;
}

.form-signin-heading {
	margin-bottom: 35px;
}

.container-obj, .container-activities {
	position: absolute;
	width: 80%;
	top: 4em;
	right: 5%;
	left: 5%;
	margin: auto;
}

.table-obj {
	min-width: 520px;
	width: auto;
	margin-left: 340px;
}

.table-activities {
	width: 100%;
}

.form-obj {
	float: left;
	width: 320px;
	height: 240px;
	padding: 20px;
	border: 2px solid lightgray;
	border-radius: 5px;
}

.form-activity {
	margin-top: 3em;
	margin-bottom: 3em;
	width: 100%;
	height: auto;
}

.form-activity button {
	margin-bottom: 1em;
}

#add-simple-activity, #add-compound-activity, #assign-activity {
	height: fit-content;
	padding: 1em;
	border: 1px solid lightgray;
	margin-bottom: 3em;
}

.btn-secondary {
	margin-bottom: 0;
}

.form-obj input, .form-activity input {
	width: auto;
	border-radius: 3px;
	margin-bottom: 10px;
}

.columna {
	padding: 10px;
}

.form-heading {
	margin-bottom: 25px;
}

#form-simple {
	width: 100%;
	border-collapse: collapse;
}

#form-simple input {
	float: right;
	width: calc(100% - 200px);
	margin-bottom: 0.5em
}

label {
	text-align: right;
	float: left;
	width: 200px;
	padding-right: 2em;
	margin-bottom: 0.5em;
}

#barra-izq {
	margin-left: 10em;
}

#barra-der {
	margin-right: 10em;
}

.cambiar-idioma {
	margin: 0 1em 0 1em;
	height: 2em;
}